body {
    margin: 0px;
}

div {
    background-color: rgb(196, 196, 196);
    width: 30vh;
    height: 100vh;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
}

h1 {
    font-weight: 800;
}