div {
    background-color: #49e;
    height: 100px;
    width: 100px;
    border: 1px solid #000;
}

#padre {
    position: absolute;
    border: 1px solid;
    height: 500px;
    width: 500px;
}

#caja3 {
    position: absolute;
    bottom: 20px;
    left: 70px;
}